#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#################
## Fichier de param
#################
# fichier de config
SHELL-UNIX/config/config.dist
/config/config.sh
/config/config-int.sh
/config/config-rec.sh
/config/config-prod.sh
# fichier de param
/CREA_USER/user_param.sh
# fichier sql
/BDD-MYSQL/sql/
*.sqlfusion.sql
# fichier dump sql
/BDD-MYSQL/dmp/
*.dmp
# fichier json
*.json
#################
## Fichier de log
#################
*.log
/LOG/LOG/

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


.mr.developer.cfg
