#!/bin/sh
###################################################################################################################
# Author : Louis DAUBIGNARD
# Date   : 11/04/2014
# 
# Description : Liste des variables utilisées
#
# Ce fichier est à placer dans config/config.sh
#
###################################################################################################################

############# Date du jour
#DATE POUR BACKUP
DATEJ=`date +%Y-%m-%d_%H-%M`
#DATE AFFICHAGE DANS LES FICHIERS DE LOG
DATELOG=`date +%d-%m-%Y_%H:%M:%S`
#DATE POUR FTP
NOW="$(date +"%d-%m-%Y")"
HIER=$(date +%d-%m-%Y --date "1 days ago")
#DATE POUR DOSSIER LIVRABLE
DATEDOSLIV=`date +%Y-%m-%d_%H-%M-%S`
#DATE POUR LOG
#DATEFILOG=`date +%Y-%m-%d_%H-%M`
DATEFILOG=`date +%Y-%m-%d`
#nbre de jour de backup a conserver
j=5
j_a_delete=$(date +%d-%m-%Y --date "$j days ago")

###################################################################################################################
#
# BASE DE DONNEES
#
###################################################################################################################
############# BDD ORACLE
#Configuration de pass bdd 
#$bdd_login/$bdd_motdepass@$bdd_host:$bdd_port/$bdd_name
bdd_host="xxxxxx"
bdd_login="xxxxxx"
bdd_motdepass="xxxxxx"
bdd_name="xxxxxx"
bdd_port="1521"

############# BDD MYSQL
# connexion normal
#    mysql --host=$bdd_my_host --user=$bdd_my_login --password=$bdd_my_motdepass --port=$bdd_my_port
# connexion mysql_config_editor
#    mysql_config_editor set --login-path=$bdd_my_login_path --host=$bdd_my_host --port=$bdd_my_port --user=$bdd_my_login --password
#    mysql --login-path=$bdd_my_login_path -u $bdd_my_login
#Configuration de pass bdd
bdd_my_host="localhost"
bdd_my_login="xxxxxx"
bdd_my_login_path="root_localhost_int"
bdd_my_motdepass="xxxxxx"
bdd_my_name="xxxxxx"
bdd_my_port="3306"

############# TUNNEL SSH MYSQL
#  Creer un tunnel SSH 
# 		ssh -l root nsxxxxx.ovh.net -p 22 -N -f -C -L 3307:127.0.0.1:33061
#  Creer un tunnel SSH avec param
# 		ssh -l $ssh_my_login $ssh_my_host -p $ssh_my_port -i "$ssh_my_key" -N -f -C -L $ssh_my_from_port:$ssh_my_host_bdd:$ssh_my_dest_port
#  Se connecter en SSH avec clé privé
# 		ssh -l root -p 22 -i /c/ssh/root\@nsxxxxx.ovh.net nsxxxxx.ovh.net
ssh_my_host="xxxxx.hostname.ext"
ssh_my_login="root"
ssh_my_motdepass="xxxxxxx"
ssh_my_port="22"
ssh_my_from_port="3307"
ssh_my_dest_port="33061"
ssh_my_host_bdd="127.0.0.1"
ssh_my_key="/c/ssh/xxxxxx"

###################################################################################################################
#
# LOG
#
###################################################################################################################
############# FICHIER DE LOG
FICLOGNAMEINST=$DATEFILOG"-INST.log"
FICLOGNAME="$DATEFILOG.log"

###################################################################################################################
#
# CHEMIN
#
###################################################################################################################
############# CHEMIN
#Configuration du chemin des scripts
PATHDEST_REPLOG=LOG
PATHDEST_FICLOG=$PATHDEST_REPLOG/$FICLOGNAME
###################################################################################################################
#
# EMAIL
#
###################################################################################################################
############# EMAIL
#Configuration de l adresse email de destination
mail_adr="XXX@XXXX.fr"